.about-us-content {
    background-image: url('../img/about-us/01.jpg');
    background-size:cover ; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 20px;
}


.about-us-content__title {
    @include font ('Oswald', 33.6px, 24px, 700);
    letter-spacing: 1px;
    color: $color-text;
    
    &::before {
        content: url('../img/logo/02.svg');
        margin-right: 66px;
    }
    &::after {
        content: url('../img/logo/03.svg');
        margin-left: 66px;
    }
}

.about-us-content__subtitle {
    @include font ('Oswald', 89.6px, 70px, 700);
    letter-spacing: 2px;
    color: $color-text;
    text-align: center;
    margin-bottom: 0;
}


.about-us-content__text {
    @include font ('Oswald', 70px, 33px, 500);
    color: $color-text;
    text-align: center;
    margin-top: 0;
}

.numbers {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 300px;
}

.numbers__item {
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    border-radius: 20px;
    justify-content:flex-start;
    width: 23%;
    background-color: $numbers-item-background;
}

.numbers__title {
    @include font ('Oswald', 107px, 72px, 500);
    margin: 0;
    text-align: center;
    color: $background-color;
}

.numbers__subtitle {
    @include font ('Oswald', 40px, 30px, 500);
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    color: $background-color;
}

.blocks-element__img {
  border-radius: 60px;
}




//Выпадающий текст





.info__switch {
  display: none;
}

.info__body {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
}

.info__switch:checked~.info__body {
  max-height: 100%;
}

.info__headline::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 4px;
  border: 6px solid #39739d;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.info__switch:checked~.info__headline::before {
  transform: rotate(180deg) translateY(6px);
}

.info__headline {
  display: block;
  position: relative;
  margin-bottom: 15px;
  user-select: none;
  color: #39739d;
  font-weight: normal;
  cursor: pointer;
}

.info__headline:hover {
  text-decoration: underline;
}


//О Нас



.blocks-element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.information-content .blocks-element .blocks-element__text:nth-child(2) {
  text-align: left;
}



.blocks-element__img {
    padding: 30px;
    width: 600px;
    float: left;
    object-fit:contain; 
    border-radius: 60px;
}

.blocks-element__img_posited {
    float: right;
}


.blocks-element__text {
    margin: 0;
    @include font ('Oswald', 40px, 20px, 400);
    letter-spacing: 0.7px;
    color: $color-text;
}

.our-documents {
    margin: 0 auto;
    // width: 75vw;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid $background-color-numbers;
    background: rgba(255, 255, 255, 0.3);
}

.our-documents__block {
  margin-top: 30px;
}

.our-documents__text {
    @include font ('Oswald', 27px, 17px, 700);
    letter-spacing: 0.8px;
    color: $color-text;
}

//Button

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  background: transparent;
  padding: 0;
  
  &.learn-more__button {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $background-color;
      border-radius: 1.625rem;
      .circle__icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $color-text;
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $color-text;
            border-right: 0.125rem solid $color-text;
            transform: rotate(45deg);
          
        }
      }
    }
    .learn-more__link {
      @include font ('Oswald', 20px, 18px, 500);
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.9rem 0;
      margin: 0 0 0 1.85rem;
      color: $background-color;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .circle__icon {
        background: $color-text;
        transform: translate(1rem, 0);
      }
    }
    .learn-more__link {
      color: $color-text;
    }
  }
}

.map-width {
  width: 560px;
  height: 400px;
}
//Текстовое окно

.more-text__link {
  display: inline-block;
  @include font ('Oswald', 20px, 18px, 500);
  color: #162831;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  &:hover {
    color: $color-text;
  }
}

@media (max-width: 1200px) {
  .numbers {
    width: 80%;
    height: 100%;
  }

  .numbers__title {
    font-size: 5vw;
  }

  .numbers__subtitle {
    font-size: 2vw;
    line-height: 3.5vh;
  }
  .about-us-content__subtitle {
    font-size: 60px;
  }

  .about-us-content__text {
    font-size: 29px;
  }
}

@media (max-width: 1335px) {
  .information-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}



@media (max-width: 1120px) {
  .numbers__item {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .about-us-content__subtitle {
    font-size: 52px;
    margin-top: 5px;
  }

  .about-us-content__text {
    font-size: 26px;
  }

  .numbers__title {
    height: 80px;
  }

  .numbers__subtitle {
    line-height: 22px;
  }

  .numbers__item {
    padding-top: 0;
  }

  .numbers__subtitle {
      font-weight: 500;
  } 


  
}


@media (max-width: 690px) {
  .blocks-element__text {
    max-width: 610px;
  }
}

@media (max-width: 650px) {
  .our-documents {
    width: 90vw;
  }

  .blocks-element__img {
    width: 100%;
  }
}

@media (max-width: 656px) {
  .blocks-element__img {
    padding: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .map-width {
    width: 460px;
    height: 300px;
  }

  .background-block {
    padding: 172px 0;
  }

  .about-us-content {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .about-us-content__title {
    font-size: 16px;
  }

  .about-us-content__subtitle {
    font-size: 47px;
    margin-top: 0;
  }

  .about-us-content__text {
    font-size: 24px;
    margin-bottom: 0;
  }

  .numbers__title {
    line-height: 77px;
  }

  .numbers__subtitle {
    line-height: 18px;
  }

  .numbers__title {
    height: 65px;
  }

  .about-us-content__title::before {
    margin-right: 22px;
  }

  .about-us-content__title::after {
    margin-left: 22px;
  }

  .information-content__title {
    font-size: 27px;
  }
}


@media (max-width: 500px) {
  .map-width {
    width: 360px;
    height: 200px;
  }

  .about-us-content__subtitle {
    font-size: 38px;
    line-height: 42px;
  }

  .about-us-content__text {
    font-size: 21px;
  }

  .blocks-element__img {
    border-radius: 28px;
  }

  .blocks-element__text {
    font-size: 18px;
  }

  .our-documents__text {
    text-align: center;
  }

  
}

@media (max-width: 490px) {
  .blocks-element__img {
    width: 434px;
  }

  .blocks-element__text {
    text-align: center;
  }
}


@media (max-width: 480px) {
  .blocks-element__img {
    width: 100%;
  }

  .about-us-content {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .about-us-content__title {
      font-size: 16px;
  }

  .about-us-content__title::before {
      margin-right: 40px;
  }

  .about-us-content__title::after {
      margin-left: 40px;
  }

  .about-us-content__subtitle {
      font-size: 40px;
      margin-top: 0;
  }

  .about-us-content__text {
      font-size: 20px;
      margin: 0;
  }

  .numbers__item {
      height: 70px;
      width: 24%;
  }

  .numbers {
    width: 90%;
  }

  .numbers__title {
      line-height: 40px;
      height: 30px;
  }

  .numbers__subtitle {
     padding-top: 10px;
     font-size: 8px;
     line-height: 12px;
     font-weight: 700;
     letter-spacing: 0;
  }
}


@media (max-width: 420px) {
  .map-width {
    width: 300px;
    height: 210px;
  }

  .about-us-content__subtitle {
    font-size: 27px;
  }

  .about-us-content__text {
    font-size: 15px;
  }

  .about-us-content__title {
    font-size: 13px;
  }

  .about-us-content__title::before {
    margin-right: 17px;
  }

  .about-us-content__title::after {
    margin-left: 17px;
  }
}


@media (max-width: 320px) {
  .menu {
    margin-top: 88px;
  }

  .about-us-content__title {
    font-size: 14px;
  }

  .about-us-content__title::before {
    margin-right: 20px;
    
  }

  .about-us-content__title::after {
    margin-left: 20px;
  }

  .about-us-content__subtitle {
    font-size: 30px;
  }

  .about-us-content__subtitle {
    line-height: 60px;
  }

  .about-us-content__text {
    line-height: 50px;
  }

  .about-us-content__text {
    font-size: 16px;
  }

  .numbers__title {
    font-size: 4.5vw;
  }

  .numbers {
    width: 96%;
  }

  .numbers__subtitle {
    font-size: 8px;
  }

  .numbers__item {
    height: 73px;
  }

  
}








