.about-us-content {
    background-image: url('../img/about-us/background.jpg');
    background-size:cover ; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 20px;
}



.about-us-content__title {
    @include font ('Oswald', 33.6px, 24px, 700);
    letter-spacing: 1px;
    color: $color-text;
    
    &::before {
        content: url('../img/logo/02.svg');
        margin-right: 66px;
    }
    &::after {
        content: url('../img/logo/03.svg');
        margin-left: 66px;
    }
}

.about-us-content__subtitle {
    @include font ('Oswald', 89.6px, 70px, 700);
    letter-spacing: 2px;
    color: $color-text;
    text-align: center;
    margin-bottom: 0;
}

.about-us-content__text {
    @include font ('Oswald', 70px, 33px, 500);
    color: $color-text;
    text-align: center;
    margin-top: 0;
}

.numbers {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 300px;
}

.numbers__item {
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    border-radius: 20px;
    justify-content:flex-start;
    width: 23%;
    background-color: $numbers-item-background;
}

.numbers__title {
    @include font ('Oswald', 107px, 72px, 500);
    margin: 0;
    text-align: center;
    color: $background-color;
}

.numbers__subtitle {
    @include font ('Oswald', 40px, 30px, 500);
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    color: $background-color;
}


//О Нас



.blocks-element {
    display: flex;
    justify-content: space-between;
}



.blocks-element__img {
    padding: 30px;
    width: 600px;
    float: left;
    object-fit:contain; 
}

.blocks-element__img_posited {
    float: right;
}


.blocks-element__text {
    margin: 0;
    @include font ('Oswald', 40px, 20px, 400);
    letter-spacing: 0.7px;
    color: $color-text;
    text-align: justify;
}

.our-documents {
    margin: 0 auto;
    width: 50vw;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid $background-color-numbers;
    background: rgba(255, 255, 255, 0.3);
}

.our-documents__block {
  margin-top: 30px;
}

.our-documents__text {
    @include font ('Oswald', 27px, 17px, 700);
    letter-spacing: 0.8px;
    color: $color-text;
    text-align: justify;
}

//Button

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  background: transparent;
  padding: 0;
  
  &.learn-more__button {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $background-color;
      border-radius: 1.625rem;
      .circle__icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $color-text;
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $color-text;
            border-right: 0.125rem solid $color-text;
            transform: rotate(45deg);
          
        }
      }
    }
    .learn-more__link {
      @include font ('Oswald', 20px, 18px, 500);
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.9rem 0;
      margin: 0 0 0 1.85rem;
      color: $background-color;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .circle__icon {
        background: $color-text;
        transform: translate(1rem, 0);
      }
    }
    .learn-more__link {
      color: $color-text;
    }
  }
}

//Адаптив 1200px

@media (max-width: 1200px) {
  .numbers {
    width: 80%;
    height: 100%;
  }

  .numbers__title {
    font-size: 5vw;
  }

  .numbers__subtitle {
    font-size: 2vw;
    line-height: 3.5vh;
  }
  .about-us-content__subtitle {
    font-size: 60px;
  }

  .about-us-content__text {
    font-size: 29px;
  }
}



@media (max-width: 1120px) {
  .numbers__item {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .about-us-content__subtitle {
    font-size: 52px;
    margin-top: 5px;
  }

  .about-us-content__text {
    font-size: 26px;
  }

  .numbers__title {
    height: 80px;
  }

  .numbers__subtitle {
    line-height: 22px;
  }

  .numbers__item {
    padding-top: 0;
  }

  .numbers__subtitle {
      font-weight: 500;
  } 


  
}


@media (max-width: 600px) {
    

  .background-block {
    padding: 172px 0;
  }

  .about-us-content {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .about-us-content__title {
    font-size: 16px;
  }

  .about-us-content__subtitle {
    font-size: 47px;
    margin-top: 0;
  }

  .about-us-content__text {
    font-size: 24px;
    margin-bottom: 0;
  }

  .numbers__title {
    line-height: 77px;
  }

  .numbers__subtitle {
    line-height: 18px;
  }

  .numbers__title {
    height: 65px;
  }

  .about-us-content__title::before {
    margin-right: 22px;
  }

  .about-us-content__title::after {
    margin-left: 22px;
  }

  .information-content__title {
    font-size: 27px;
  }
}


@media (max-width: 500px) {
  .about-us-content__subtitle {
    font-size: 38px;
    line-height: 42px;
  }

  .about-us-content__text {
    font-size: 21px;
  }

  
}


@media (max-width: 480px) {

  .about-us-content {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .about-us-content__title {
      font-size: 16px;
  }

  .about-us-content__title::before {
      margin-right: 40px;
  }

  .about-us-content__title::after {
      margin-left: 40px;
  }

  .about-us-content__subtitle {
      font-size: 40px;
      margin-top: 0;
  }

  .about-us-content__text {
      font-size: 20px;
      margin: 0;
  }

  .numbers__item {
      height: 80px;
  }

  .numbers__title {
      line-height: 40px;
      height: 30px;
  }

  .numbers__subtitle {
      padding-top: 10px;
     font-size: 10px;
     line-height: 15px;
  }
}

@media (max-width: 420px) {
  .about-us-content__subtitle {
    font-size: 27px;
  }

  .about-us-content__text {
    font-size: 15px;
  }

  .about-us-content__title {
    font-size: 13px;
  }

  .about-us-content__title::before {
    margin-right: 17px;
  }

  .about-us-content__title::after {
    margin-left: 17px;
  }
}


@media (max-width: 320px) {
  .menu {
    margin-top: 88px;
  }

  .about-us-content__title {
    font-size: 14px;
  }

  .about-us-content__title::before {
    margin-right: 20px;
    
  }

  .about-us-content__title::after {
    margin-left: 20px;
  }

  .about-us-content__subtitle {
    font-size: 30px;
  }

  .about-us-content__subtitle {
    line-height: 60px;
  }

  .about-us-content__text {
    line-height: 50px;
  }

  .about-us-content__text {
    font-size: 16px;
  }

  .numbers__title {
    font-size: 4.5vw;
  }

  .numbers {
    width: 96%;
  }

  .numbers__subtitle {
    font-size: 8px;
  }

  .numbers__item {
    height: 73px;
  }

  
}








