.icon-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}

.icon-item__img {
	width: 200px;
	height: 190px;
	transition: .6s;
	filter: grayscale(100%); 
	&:hover {
		cursor: pointer;
		filter: grayscale(0%); 
	}
}