.icon-item {
	display: flex;
	flex-wrap: wrap;
	gap: 75px;
}

.icon-item__img {
	width: 200px;
	height: 190px;
	transition: .6s;
	filter: grayscale(100%); 
	&:hover {
		cursor: pointer;
		filter: grayscale(0%); 
	}
}
@media (max-width: 1350px) {
	.icon-item {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 716px) {
	.icon-item {
		justify-content: center;
	}
}

@media (max-width: 500px) {
	.icon-item__img {
		width: 150px;
		height: 140px;
	}
}

@media (max-width: 390px) {
	.icon-item__img {
		width: 115px;
		height: 105px;
	}
}