.our-content {
    display: flex;
    justify-content: space-between;
}
.our-contacts__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30vw;
}

.footer-content__img {
    width: 600px;
}