
  .swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
    right: 0;
  }
  
  .swiper-navBtn:hover {
    color: #4070F4;
  }
  
  .swiper-button-prev {
    left: 0;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #4070F4;
  }

  .swiper__image {
    width: 100%;
    border-radius: 5%;

  }

  .image-content {
    width: 95%;
    margin: 0 auto;
  }
  
 
  
  @media screen and (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }
  }

  .background-block {
    background-image: url('../../img/проекты/02.jpg');
    background-size: cover;
    background-position: center center;
    padding: 360px 0;
    margin-top: 50px;
    &__content {
      width: 1440px;
      margin: 0 auto;
    }
  }

  .swiper-slide {
    transition: 0.3s;
  }
  
  .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.8);
    opacity: 0.5;
    filter: blur(2px);
  }

  @media (max-width: 1150px) {
    .background-block {
      padding: 274px 0;
    }
  }
  
  
  
  @media (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }

    .background-block {
      padding: 210px 0;
    }
  }


@media (max-width: 480px) {
  .image-content {
    width: 80%;
  }

  .background-block {
    padding: 140px 0;
  }

}

  

  



   

    

