
  .swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
    right: 0;
  }
  
  .swiper-navBtn:hover {
    color: #4070F4;
  }
  
  .swiper-button-prev {
    left: 0;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #4070F4;
  }

  .swiper__image {
    width: 100%;
    border-radius: 5%;

  }

  .image-content {
    width: 95%;
    margin: 0 auto;
  }
  
 
  
  @media screen and (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }
  }

  .background-block {
    // background-image: url('../img/feedback/portfolio.jpg');
    background-image: url('/img/feedback/6.jpg');
    // background-image: url('/img/feedback/1.jpg');
    // background-image: url('/img/feedback/2.jpg');
    // background-image: url('/img/feedback/3.jpg');
    // background-image: url('/img/feedback/4.jpg');
    // background-image: url('/img/feedback/5.jpg');
    background-size: cover;
    background-position: center center;
    padding: 360px 0;
    &__content {
      width: 1440px;
      margin: 0 auto;
    }
  }
  
  
  
  @media screen and (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }
  }

  .swiper-slide {
    transition: 0.3s;
  }
  
  .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.8);
    opacity: 0.5;
    filter: blur(2px);
  }



   

    

