

.footer-content {
    display: flex;
    justify-content:space-evenly;
}

.footer-content__block {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    max-width: 500px;
}

.footer-content__item {
    width: 250px;
}

.footer-content__title {
    @include font ('Oswald', 28px, 26px, 400);
    color: $color-text;
    letter-spacing: 1px;
}

.footer-content__element {
    padding-left: 0;
}

.footer-content__list {
    @include font ('Oswald', 30px, 18px, 300);
    letter-spacing: 1px;
    color: $color-text;
    list-style-type: none;
    
}

.footer-content__link {
    @include font ('Oswald', 28px, 20px, 300);
    color: $color-text;
    text-decoration: none;
    letter-spacing: 1px;
    &:hover {
        color: #018ABE;
        transition: color .3s;
        border-bottom: 2px solid #018ABE;
    }
}

.footer-content__img {
    height: 560px;
}

.footer-map {
    position: relative;
    overflow: hidden;
}

.map-width {
    position: relative;
}






@media (max-width: 760px) {
    

    .footer-content__title {
        font-size: 23px;
    }

    .footer-content__link {
        font-size: 16px;
    }

    .footer-content__list {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    
}


@media (max-width: 515px) {
    .footer-content__block {
        flex-direction: column;
        align-items: center;  
    }

    

}



@media (max-width: 480px) {
    .footer-content__item {
        width: 200px;
    }

    .footer-content__title {
        font-size: 21px;
    }

    .footer-content__link {
        font-size: 15px;
    }

    .footer-content__list {
        font-size: 15px;
    }
}







@media (max-width: 320px) {
    

    
    .footer-content__block {
        max-width: 300px;
    }

    .gm-style {
        display: none;
    }

    .footer-content__title {
        text-align: center;
    }
}




