

.footer-content {
    display: flex;
    justify-content:space-evenly;
}

.footer-content__block {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 500px;
}

.footer-content__item {
    width: 240px;
}

.footer-content__title {
    @include font ('Oswald', 28px, 26px, 400);
    color: $color-text;
}

.footer-content__element {
    padding-left: 0;
}

.footer-content__list {
    @include font ('Oswald', 25px, 19px, 300);
    color: $color-text;
    list-style-type: none;
    
}

.footer-content__link {
    @include font ('Oswald', 25px, 20px, 300);
    color: $color-text;
    text-decoration: none;
    &:hover {
        opacity: 0.5;
        border-bottom: 2px solid $background-color-numbers;
    }
}


.google-map {
    overflow:hidden;
    padding-bottom:36%;
    position:relative;
    height:0;
    z-index: 2;
    
}
.google-map__content{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    
    
}


