.information-content__title {
    @include font ('Oswald', 59px, 42px, 700);
    text-align: center;
    color: $color-text;
    &::after {
        position: relative;
        content: url(/img/information/01.svg);
        bottom: 10px;
        left: 60px;
    }
    &::before {
        position: relative;
        content: url(/img/information/02.svg);
        right: 60px;
        bottom: 10px;
    }
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 540px;
}

.cards-box:first-child {
    background-image: url(/img/information/01.jpg);
    background-size: cover;
    border-radius: 10px;
}
.cards-box:last-child {
    background-image: url(/img/information/02.jpg);
    background-size: cover;
    border-radius: 10px;
}

.cards-box:nth-child(2) .projects:first-child {
    background-image: url(/img/information/03.jpg);
    background-size: cover;
    border-radius: 10px;
}
.cards-box:nth-child(2) .projects:last-child {
    background-image: url(/img/information/04.jpg);
    background-size: cover;
    border-radius: 10px;
}

.projects:hover {
    cursor: pointer;
    outline: 5px solid $background-color-numbers;
    border-radius: 10px;
    filter: blur(1px);
    transition: color .5s;
}

.projects__link {
    display: flex;
    align-items: flex-end;
    width: 416px;
    height: 540px;
    text-decoration: none;
    border-radius: 10px;
}

.projects__item {
    display: flex;
    align-items: flex-end;
    width: 416px;
    height: 250px;
    text-decoration: none;
    border-radius: 10px;
}

.projects__text {
    @include font('Oswald', 34px, 24px, 700);
    padding-left: 50px;
    padding-top: 15px;
    color: $color-text;
    background-color: rgba(39,47,51, 0.7);    
    width: 100%;
    height: 80px;
    border-radius: 10px;
}

.cards-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 540px;
}









