.information-content__title {
    @include font ('Oswald', 59px, 42px, 700);
    text-align: center;
    color: $color-text;
    &::after {
        position: relative;
        content: url('../img/information/01.svg');
        bottom: 10px;
        left: 60px;
    }
    &::before {
        position: relative;
        content: url('../img/information/02.svg');
        right: 60px;
        bottom: 10px;
    }
}

.information-content {
    padding-left: 20px;
    padding-right: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.cards__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 574px;
    width: 418px;
    
    &:nth-child(3) .cards-box__link {
        margin-top: 150px;
        height: 275px;
    }
    &:nth-child(1) .cards-box__link:first-child {
        background-image: url("../img/information/05.jpg");
    }
    &:nth-child(1) .cards-box__link:last-child {
        background-image: url("../img/information/08.jpg");
    }
    &:nth-child(2) .cards-box__link:first-child {
        background-image: url("../img/information/02new.jpg");
    }
    &:nth-child(2) .cards-box__link:last-child {
        background-image: url("../img/information/10.jpg");
    }
}

.cards-box__link {
    display: flex;
    align-items: end;
    background-image: url("../img/information/01.jpg");
    background-size: cover;
    height: 275px;
    text-decoration: none;
    border-radius: 10px;
    &:hover {
        outline: 5px solid #018ABE;
        filter: blur(1px);
        transition: color .5s;
        }
  }


  .cards-box__text {
    @include font('Oswald', 34px, 24px, 700);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(39, 47, 51, 0.7);
  }


@media (max-width:1270px) {
    .cards .cards__box:last-child {
    justify-content: center;  
    height: 275px; 
 }

 .cards__box:nth-child(3) .cards-box__link {
    margin-top: 0;
 }

 .cards {
    justify-content: center;
    gap: 40px;
 }
}
    
  @media (max-width: 1253px) {
    .cards {
        display: flex;
        justify-content:space-around;
    }
    .cards__box:nth-child(3) {
        margin-top: 25px;
        order: 3;
        height: 275px;
       & .cards-box__link {
        margin-top: 0;
       }
    }
  }    


@media (max-width: 1200px) {
    .information-content__title {
      font-size: 38px;
    }
  }



  @media (max-width: 865px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
  }

  @media (max-width: 768px) {
    .cards {
        display: flex;
        flex-direction: row;
    }
    .cards__box {
        gap: 20px;
        height: 384px;
        width: 310px;
    }

    .cards {
        gap: 20px;
    }

    .cards__box:nth-child(3) {
        margin-top: 0;
    }

   
    .information-content__title {
        font-size: 30px;
    }

    .cards-box__text {
        font-size: 20px;
        letter-spacing: 2px;
        padding-left: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .cards .cards__box:last-child {
        height: 182px;
    }
  }

  @media (max-width: 619px) {
    .cards__box:nth-child(2) {
        margin-top: 20px;
    }
  }

  @media (max-width: 600px) {
    .information-content__title::before {
        right: 20px;
    }

    .information-content__title::after {
        left: 20px;
    }

    .information-content__title {
        font-size: 25px;
    }
  }

  
  @media (max-width: 480px) {
    .information-content__title {
        font-size: 26px;
    }

    .information-content__title::before {
        right: 20px;
    }
    .information-content__title::after {
        left: 20px;
    }

    .cards-box__text {
        font-size: 18px;
        padding-left: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .information-content__title {
        font-size: 23px;
    }

    

    .cards__box:nth-child(3) {
        height: 182px;
    }
  }

  @media (max-width: 430px) {
    .information-content__title {
        font-size: 20px;
    }
  }

  @media (max-width: 385px) {
    .information-content__title {
        font-size: 17px;
    }

    
}

  @media (max-width: 350px) {
    .information-content__title::before {
        right: 10px;
    }

    .information-content__title::after {
        left: 10px;
    }
  }


  @media (max-width: 340px) {
    .information-content__title {
        font-size: 15px;
    }

    .cards__box {
        height: 334px;
        width: 257px;
    }

    .cards-box__text {
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .cards__box:nth-child(3) {
        height: 157px;
    }
  }

 

  


  







