.blocks-documents__content {
    margin-top: 80px;
}

.blocks-documents {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 100px;
}

.blocks-documents__item {
    position: relative;
    width: 400px;
}

.blocks-documents__images {
    position: relative;
    z-index: 2;
    width: 400px;
    transition: .6s;
    border: 5px solid $background-color-numbers;
    border-radius: 15px;
    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }
    &:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -45px;
    left: 45px;
    z-index: 1;
    transition: .6s;
    border: 5px solid $background-color-numbers;
    border-radius: 15px;
    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }
    }
    &:nth-child(3) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -90px;
    left: 90px;
    z-index: 0;
    transition: .6s;
    border: 5px solid $background-color-numbers;
    border-radius: 15px;
    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }
    }
}

@media (max-width: 1200px) {
    .blocks-documents  {
        width: 50%;
        justify-content: center;
    }

    .our-license-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .blocks-documents__images {
        width: 290px;
    }

    .blocks-documents .blocks-documents__item:nth-child(3),
    .blocks-documents .blocks-documents__item:nth-child(4),
    .blocks-documents .blocks-documents__item:nth-child(5) {
        margin-right: 90px;
    }

    .blocks-documents .blocks-documents__item:nth-child(6) {
        margin-right: 50px;
    }
}

@media (max-width: 410px) {
    .blocks-documents__content {
        margin-top: 0;
    }

    .blocks-documents__images {
        width: 210px;
    }
}

@media (max-width: 320px) {
    .blocks-documents__images {
        width: 200px;
    }
  }