
.our-projects-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-images__image {
    object-fit: contain;
    width: 416px;
    height: 230px;
    transition: 1s;
}

.project-images__image:hover {
    opacity: 0.5;
    cursor: pointer;
}

.project-images__title {
    text-align: center;
    margin: 0 auto;
    @include font ('Oswald', 30px, 23px, 700);
    color: $color-text;
    width: 390px;
}

.project-images__content {
    margin-bottom: 40px;
}


 /* Стили для модального окна */
 .modal {
    display: none;
    /* По умолчанию скрыто */
    position: fixed;
    /* Фиксированное положение */
    z-index: 5;
    /* Верхний уровень */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включить прокрутку, если необходимо */
    background-color: rgba(0, 0, 0, 0.9);
    /* Черный цвет с прозрачностью */
}

.modal-content {
    margin: auto;
    display: block;
    width: 95%;
    position: absolute;
    top: 20vh;
    left: 2.35vw;
}

.modal-content__img {
    width: 100%;
    height: auto;
}

.slideshow-container {
    display: none;
}

.pagination-slider {
    display: none;
}


//Стили для карусели проектов 

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
      display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.8);

  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .active, .dot:hover {
    background-color: black;
  }
  
  .text {
    @include font ('Oswald', 30px, 23px, 700);
    -webkit-text-stroke: 1.2px black ;
    margin: 0;
    padding: 15px 0;
    color: $color-text;
    width: 390px;
    position: absolute;
    bottom: 4px;
    width: 94.3%;
    text-align: center;
  }

  .images-slider {
    width: 100%;
  }
  
  .numbertext {
    font-size: 21px;
    font-weight: 700;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    -webkit-text-stroke: 1px $background-color-numbers;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .pagination-slider {
    text-align: center;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



  @media (max-width: 1264px) {
    .our-projects-content {
        justify-content: space-around;
    }
  }

  @media (max-width: 560px) {

    .slideshow-container {
      padding-left: 20px;
      padding-right: 20px;
  }

  .images-slider {
    height: 300px;
  }

  .next {
      right: 20px;
  }
    .text {
        font-size: 20px;
        margin: auto;
    }

    .our-projects-content {
      display: none;
  }
  .modal {
      display: none;
  }

  .slideshow-container {
      display: block;
  }
  
  .pagination-slider {
      display: block;
  }
  }

  @media (max-width: 420px) {
    .text {
        width: 88%;
        font-size: 18px;
        padding: 7px 0;
    }

    .images-slider {
      height: 254px;
    }  

    .prev, .next {
        padding: 13px;
    }
  }

  @media (max-width: 380px) {
    .images-slider {
      height: 222px;
    }  
  }

  @media (max-width: 320px) {
    .text {
        padding: 7px 0;
        font-size: 16px;
        line-height: 16px;
    }

    .prev, .next {
        padding: 7px;
    }
  }




