.block {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.blocks__content {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/01.jpg);
    width: 400px;
    height: 560px;
    border-radius: 30px;
    text-shadow:
    1px 0px 1px #cccccc,
    0px 1px 1px #eeeeee,
    2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee,
    3px 2px 1px #cccccc;
}
   
.block .blocks__content:nth-child(2) {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/02.jpg);
}
.block .blocks__content:nth-child(3) {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/03.jpg);
}
.block .blocks__content:nth-child(4) {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/04.jpg);
}
.block .blocks__content:nth-child(5) {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/05.jpg);
}
.block .blocks__content:nth-child(6) {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/06.jpg);
}
.block .blocks__content:nth-child(7) {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/07.jpg);
}
.block .blocks__content:nth-child(8) {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/08.jpg);
}
.block .blocks__content:nth-child(9) {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/09.jpg);
}
.block .blocks__content:nth-child(10) {
    display: flex;
    align-items: flex-end;
    background-image: url(/img/our-services/10.jpg);
    
}

.blocks__title {
    padding-left: 25px;
    padding-bottom: 25px;
    @include font ('Oswald', 34px, 24px, 700);
    letter-spacing: 1px;
}

@media (max-width: 1316px) {
    .block {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 866px) {
    .block {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 420px) {
    .blocks__content, .block.blocks__content:nth-child(1) {
        background-size: cover;
        width: 300px;
        height: 460px;
    }
}