.block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.our-services__item {
    @include font ('Oswald', 34px, 24px, 700);
    color: $color-text;
}

.blocks__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 110px;
}

.blocks__number {
    position: absolute;
    top: 2px;
    left: -18px;
    @include font ('Oswald', 240px, 215px, 700);
    margin: 0;
    color: $color-text;
    opacity: 10%;
    padding-left: 30px;
}

.blocks__title {
    @include font ('Oswald', 76px, 56px, 600);
    letter-spacing: 2px;
    margin-top: 0;
    color: $color-text;
    width: 47vw;
}

.blocks__text {
    @include font ('Oswald', 32px, 18px, 700);
    margin: 0;
    color: $color-text;
    width: 45vw;
}

.blocks__image {
    width: 480px;
    height: 640px;
}



//Адаптив 1200px
@media (max-width: 1460px) {
    .blocks__title {
        margin-top: 22px;
    }
}

@media (max-width: 1340px) {
    .block {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1200px) {
    .blocks__number {
        font-size: 180px;
    }

    .blocks__title {
        font-size: 47px;
    }

    .blocks__text {
        font-size: 16px;
    }

    

    .blocks__image {
        width: 440px;
        height: 600px;
    }
}

@media (max-width: 1100px) {
    
}


@media (max-width: 1050px) {
    .blocks__title {
        width: 40vw;
    }

    .blocks__image {
        width: 400px;
        height: 560px;
    }
}

@media (max-width: 880px) {
    .blocks__number {
        font-size: 150px;
    }

    .blocks__title {
        font-size: 33px;
        line-height: 58px;
    }

    .blocks__image {
        width: 300px;
        height: 460px;
    }

    .blocks__number {
        top: -38px;
    }
}
@media (max-width: 800px) {
    .blocks__title {
        margin-top: 38px;
    }
}

@media (max-width: 660px) {
    .blocks__number {
        font-size: 130px;
    }

    .blocks__title {
        font-size: 26px;
        line-height: 43px;
    }

    .blocks__image {
        width: 200px;
        height: 360px;
    }


}

@media (max-width: 460px) {
    .blocks__number {
        font-size: 105px;
    }

    .blocks__title {
        font-size: 20px;
        line-height: 30px;
    }

    .blocks__image {
        width: 150px;
        height: 240px;
    }
}

@media (max-width: 380px) {
    .blocks__title {
        font-size: 17px;
        line-height: 25px;
    }

    .blocks__image {
        width: 120px;
        height: 240px;
    }
}