@mixin font ($font-family, $line-height, $font-size, $font-weight) {
    font-family: $font-family;
    line-height: $line-height;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
  }